.leftSide {
  flex: 0 0 30%;
  border-right: 1px solid #00000015;
}

.searchBlock {
  padding: 10px;
}

.input {
  height: 40px;
  width: 100%;
  border: 1px solid #97626256;
  position: relative;
}

.input::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 10px;
  width: 20px;
  height: 20px;
  background: url('../../assets/search.svg') no-repeat;
  transform: translateY(-50%);
}

.input input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 40px;
  font-size: 14px;
}

.chats {
  display: flex;
  height: calc(100% - 60px);
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  position: relative;
}

.chats::-webkit-scrollbar {
  width: 3px;
}

.chats::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.288);
}

.chatsTitle {
  display: block;
  color: #008069;
  font-size: 18px;
  margin: 10px 0px 0px 10px;
}

.empty {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyInfo {
  font-size: 20px;
  text-align: center;
}

/* .searchResults {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: #ffffff;
} */